/* 
    Document   : styles
    Created on : 8-May-2014, 11:44:19 PM
    Author     : Eugene
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body {
    padding: 0;
    margin: 0 auto;
}
#banner {
    padding: 30px;
    margin: 0 auto;
    background-color: #fcf8e3;
}
.comment_block {
    display:none;
}
.hide_comment {
    display:none;
}
#footer {
    margin-top: 460px;
}